.tenor-gif-modal {
	#gif-results {
		overflow-x: auto;
		white-space: nowrap;
		max-height: 80vh;
		img {
			cursor: pointer;
			width: 33%;
			padding: $spacer * 0.25;
			&:hover {
				opacity: 0.8;
			}
		}
	}
}

/* Composer formatting icon override */
.fa-tenor-gif::before {
	content: 'GIF';
	font-size: calc($font-size-base / 2);
	font-family: sans;
	background: #333;
	color: #fff;
	padding: 0.25rem 0.25rem;
	border-radius: 0.5em;
	position: relative;
	top: -0.1rem;
}